<form class="form-inline">
  <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width:80%">
  <button class="btn btn-outline-primary" (click)="searchText = ''">X</button>
</form>
<table class="table table-sm">
  <thead>
    <th>Full Name</th>
    <th>Email</th>
  </thead>
  <ng-container *ngFor="let customer of customerArray">
    <tr class="table-dark" *ngIf="filterCustomers(customer)">
      <td>{{customer.fullName}}</td>
      <td>{{customer.email}}</td>
      <td>
        <button class="btn btn-outline-info" (click)="customerService.editCustomer(customer)">Edit</button>
        <button class="btn btn-outline-danger" (click)="removeCustomer(customer.$key)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">
  Deleted successfully.
</div>